@{
    ViewBag.Title = "Contact";
}
<h3>Thông tin liên hệ</h3>

<address>
    Nguyễn Tấn Tài 
    <br />
    <abbr title="Phone">Điện thoại:</abbr>
    033 777 5400
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:Nguyentai290290@gmail.com">Nguyentai290290@gmail.com</a><br />
</address>